# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
jupyter_local/

# Other files and folders
.settings/
.vscode/
__pycache__/
pylint_msg.txt

# Executables
*.swf
*.air
*.ipa
*.apk
*.pyc

# some parts of directories 
/**/*_local.*
/**/Config/*

# Local Files
*_local.*
*_tmp.*
uml_class.plantuml
uml_component.plantuml
uml_class.png
uml_component.png


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.pylintrc
.ipynb_checkpoints/
health_data.py
*.log
*_local.*
*_tmp.*
*_old.*
configpath.py
v.bat
param_config.yaml
code_snippets/template_config/test_subparser_local,py
