# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
jupyter_local/

# Other files and folders
.settings/
.vscode/
__pycache__/
pylint_msg.txt

# Executables
*.swf
*.air
*.ipa
*.apk
*.pyc

# Local Files
*_local.*
*_tmp.*

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.pylintrc
.ipynb_checkpoints/
health_data.py
*.log
*_local.py
